# Dependencies
node_modules
.pnp
.pnp.js
dist
frontend/dist

# Testing
coverage

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
frontend/.env
backend/.env

# Local database
backend/users_local.json

# IDEs
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vs

# System
.DS_Store
Thumbs.db
